.vscode/
.idea/
.DS_Store
Thumbs.db

node_modules/

client/node_modules/
client/dist/
client/build/
client/.env
client/.env.local
client/.vite/
client/.cache/

server/*.exe
server/bin/
server/*.env
server/*.key
server/*.pem

gtfs_old/
gtfs_raw/

v1-legacy/